
body{
  background-color: lightcyan;

}




h1{
  text-align: center;
  font-size: auto;
  color : rgb(199, 26, 26)(78, 2, 2)

}

.btnRef {
     background: #3D94F6;
  position: fixed;
    top: 20px;
    right: 100px

}

   .tweet{

    float: left;
    font-site: 12px
  }


    .time{


    font-size: 5px
    float: inline-end;


      }



      .ntime{


        font-size: 5px
        float: inline-end;


          }


.nTweet{
  float: left;
  font-site: 12px
}



    .title{
      color: rgb(24, 21, 21);
      font-size: 100px;
      font-weight: normal;
    }
    #tweets{
      color: red;
      font-family: "Times New Roman", Times, serif;
    }

