
.header{

  grid-column: 1;
  grid-row: 1;
  float: inline-end;

}

body { margin: auto;
padding: 20px;
background-color: deepskyblue;
display: grid;
grid-gap: 10px ;
grid-template-columns: 350px


}

.tweet {
margin: 10px;
padding: auto;
width: 320px;
height: auto;
overflow: hidden;
background-color: whitesmoke;
font-size: 80%;
word-wrap: normal;
border-radius: 8px 8px 8px 8px;

}


 #userHandel{
   font-size: small ;
   grid-column: 1 ;
   grid-row: 1;
 }


img {
  float: right;
  border-radius: 20px 20px 20px 20px;
  grid-column: 2 ;
  grid-row: 1;

}

  .user {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: medium;

  }

  .message {
    font-family: Arial, Helvetica, sans-serif;
  }

  .tStamp {
    float: right;
    font-size: 25%;
    word-wrap: inherit;
    margin: 10px;

  }

.btnRef{

  grid-column: 1 ;
   grid-row: 1;
   float: bottom;
}

.ufeed{
  height: auto;
  width:  400px;
  grid-column: 2 ;
  grid-row: 2 ;
    }




.feed{
  height: auto;
  width:  400px;
  grid-column: 1 ;
  grid-row: 2 ;
}

